*
{
    margin: 0vh;
    padding: 0vh;
}

header
{
    text-align: center;
}

.bgrd
{
    position: fixed;
    height: 100%;
    width: 100%;
}

.card
{
    text-align: center;
    width: auto;
    margin: 300px;
}

.menu-button > input
{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    border: black;
    border-radius: 7px 5px 5px;
}