*
{
    margin: 0vh;
    padding: 0vh;
    font-family: Lato;
}

body
{
    background-image:url(images/bgrd.png);
    background-color: rgb(179, 212, 252);
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    background-color: rgb(49, 49, 49);
    padding-top: 25px;
    padding-bottom: 25px;
}

.presentation
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10px 10px 10px 10px;
    min-width: 300px;
}

.card
{
    margin: 5px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 50px;
    line-height: 25px;
    
}

.card > a
{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: 50px;
}

ul
{
    min-width: 25%;
    list-style-type: none;
    padding-bottom: 25px;
}

.card > p, a
{
    text-align: center;
    text-decoration: none;
    color: black;
}

.menu-button
{
    margin-top: 30px;
    margin-left: auto;
    padding-bottom: 50px;
}

.menu-button > ul > li > a
{

    float: left;
    text-decoration: none;
    padding-bottom: 10%;
    color: white;
    background-color: rgb(67, 67, 67);
    padding: 10px;
    border: rgb(45, 45, 45);
    border-radius: 25px 25px 10px 10px;
    margin-right: 2%;
    margin-left: 2%;
}

.main_sect
{
    background-color: white;
}

.stock
{
    background-color: white;
    margin-top: 100px;
    text-align: center;
}

.stock > h2
{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 150px;
}

.stock > p
{
    font-size: 20px;
    line-height: 50px;
}

.textarea
{
    width: 375px;
    max-width: 80%;
}

.last_add
{
    margin-left: 75px;
    margin-right: 75px;
}

.last_add > h2
{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
}

.last_add > img
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border: 10px solid rgb(53, 53, 53);
    border-bottom: 30px solid rgb(53, 53, 53);
    border-radius: 5px 5px 5px 5px;
    width: 20%;
    min-width: 100px;
}

.switch_page
{
    margin-top: 25px;
    margin-left: 40%;
}

.switch_page > ul > li > a
{
    float: left;
    text-decoration: none;
    padding-bottom: 10%;
    color: white;
    background-color: rgb(67, 67, 67);
    padding: 10px;
    border: rgb(45, 45, 45);
    border-radius: 25px 25px 10px 10px;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.search-but
{
    font-weight: 700;
    background-color: rgb(38, 38, 38);
    color: white;
    border-radius: 7px 7px 7px 7px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;

}

.pages-but
{
    margin-top: 25px;
}

.pages-but > a
{
    background-color: rgb(38, 38, 38);
    color: white;
    margin-left: 15px;
    height: 30px;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
}

.keyword_list
{
    margin-left: -50px;
    column-count: 4;
    column-width: 40%;
    -moz-column-count: 4;
    -moz-column-width: 40%;
    -webkit-column-count: 4;
    -webkit-column-width: 40%;
    margin-top: 25px;
    padding-bottom: 100px;
    min-width: 300px;
}

.keyword_list > ul > li
{
    width: 200px;
    border-bottom: 1px solid lightgrey;
    text-align: right;
}

.inspi_quote
{
    margin-top: 350px;
    margin-left: 25%;
    margin-right: 30%;
}

.inspi_quote > .citation
{
    color: white;
    font-style: oblique;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2.2rem;
    background-color: rgb(85, 85, 85);
    text-align: center;
    width: 600px;
}

.inspi_quote > .author
{
    color: white;
    font-style: oblique;
    margin-bottom: 250px;
    /* margin-left: 250px;
    margin-right: 550px; */
    background-color: black;
    width: 225px;
}


/* Presentation */

.titre
{
    font-size: 0.8rem;
    color: white;
    border-bottom: 1px solid rgb(73, 73, 73);
    padding-bottom: 25px;
    line-height: 1px;
}

.logo
{
    height: auto;
    width: 100%;
    padding: 15px;
}
/* ======================================================== */
.header_pres > .menu_button2 > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_pres ul
{
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: -25px;
}

.header_pres li
{
    margin-left: 40%;
    margin-right: 40%;
    min-width: 120px;
}
.nav 
{
    float: none;
}

.nav a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav .active 
{
    background-color: #4CAF50;
}

/* ======================================================== */

.tel > a
{
    margin-left: 500px;
    position: absolute;
    right: 50px;
    top: 20px;
    color: white;
}

.body_pres
{
    background-color: rgb(230, 230, 230);
}

.portrait 
{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

h1
{
    text-align: center;
}

.bio
{
    padding-top: 100px;
}
.bio > h2, h1, img
{
    padding-bottom: 50px;
}
.bio > h2, p
{
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
}

.bio > blockquote
{
    text-align: justify;
    margin-top: 25px;
    margin-left: 35%;
    margin-right: 35%;
}

.service
{
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.service > h3, li
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.service > ul > li > a
{
    text-decoration: none;
    padding-bottom: 10%;
    color: white;
    background-color: rgb(81, 174, 172);
    padding: 5px;
    border: rgb(115, 172, 182);
    border-radius: 25px 25px 10px 10px;
}


footer
{
    font-size: 0.8rem;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(33, 33, 33);
    padding-top: 25px;
    padding-bottom: 25px;
}

footer > span > a
{
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

footer > span
{
    margin-left: 30%;
    margin-right: 30%;
    display: inline-block;
}